<!-- HEADER -->
<!-- <header class="bg-theme1 fixed"> -->
    <div class="mw-1320 m-auto">
        <nav id="mainNav" class="d-flex wrap g-1 p-1">
            <div class="d-flex wrap ai-c g-1">
                <a href="./index.html">
                    <img src="./images/rtfm-logo-00.svg" alt="Logo" width="150" />
                </a>
                <a class="disabled" href="#">Évènements</a>
                <a href="./achat.html">Conseils de lecture</a>
                <a class="disabled" href="#">La Librairie</a>
                <a href="./contact.html">Contact</a>
            </div>
            <div class="d-flex wrap ai-c g-1 ml-auto">
                <a href="./inscription.html">Inscription</a>
                <a href="./connexion.html">Connexion</a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </nav>
    </div>
<!-- </header> -->
